@font-face {
  font-family: 'PressStart';
  src: local('PressStart'), url(./fonts/PressStart2P-Regular.ttf) format('truetype');
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'PressStart';
  height: 100vh;

}

.grid-row{
  display: flex;
  flex-direction: row;
}

.grid-cell{
  width: 15px;
  height: 15px;
  /* border-top: 1px solid black;
  border-left: 1px solid black; */
}

.grid-cell-border{
  background-color: black;
}

.grid-cell-snake{
  background-color: black;
}

.grid-cell-snack{
  background-color: blue;
}

.grid-cell-hit {
  background-color: red;
}

.gameover{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.typing{
  font-size: 30px;
}

.gameover .typing{
  width: 400px;
  text-align: center;
  color: red;
}

.again{
  font-size: 14px;
  cursor: pointer;
  margin-top: 30px;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
